.container{
    background-color: orange;
}
h1{
    font-size: 30px;
}
#basics:hover{
    border: 4px solid grey;
    text-decoration: underline;
    color:blue;
    font-size: 30px;

}
.card{
    background-color: bisque;
    margin: 5px;
    padding: 10px;
    border: 5px solid goldenrod;
}
#card-title:hover{
    font-size: 30px;
    color:black;
   text-decoration: underline;
   text-align: center;
}
.card-description{
    color: black;
    font-size: 24px;
}
.card-list{
    font-size: 20px;
}